.styles_logoContainer_1YFs {
    text-align: center;
    margin-bottom: 30px;
}

.styles_logoContainer_1YFs .styles_logo_35-L {
    display: block;
}

.styles_logoContainer_1YFs .styles_logo_35-L .styles_big_bf7p {
    width: 147px;
}

.styles_miniTitle_N_M3, img.styles_small_3Zl2 {
    display: none;
}

.styles_logoContainer_1YFs .styles_logo_35-L:hover {
    filter: url(data:image/svg+xml;charset=utf-8,<svg xmlns= "http://www.w3.org/2000/svg" ><fÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦eNode /><feMergeNode in= "SourceGraphic" /></feMerge></filter></svg>#filter);
    -webkit-filter: drop-shadow(0 0 10px rgba(17, 246, 44, .7));
    filter: drop-shadow(0 0 10px rgba(17, 246, 44, .7));
}
.topbar:after, .topbar:before {
    content: "";
    position: absolute;
    margin-top:-1px;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear,left top,right top,color-stop(5%,transparent),color-stop(50%,#10e429),color-stop(95%,transparent));
    background: -webkit-linear-gradient(left,transparent 5%,#d7c282 50%,transparent 95%);
    background: linear-gradient(90deg,transparent 5%,#10e429 50%,transparent 95%);
}
.styles_borderHolder {
    position: relative;
    width: 100%;
}
 .styles_borderHolder .styles_leftBorder:after,  .styles_borderHolder .styles_leftBorder:before,  .styles_borderHolder .styles_rightBorder:after,  .styles_borderHolder .styles_rightBorder:before {
    content: "";
    position: absolute;
    left: -3px;
    width: 9px;
    height: 9px;
    border-left: 1px solid #046c10;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.styles_borderHolder .styles_leftBorder:before {
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.styles_borderHolder .styles_leftBorder:before, .styles_borderHolder .styles_rightBorder:before {
    top: -1px;
}
.styles_borderHolder .styles_leftBorder:after, .styles_borderHolder .styles_leftBorder:before, .styles_borderHolder .styles_rightBorder:after, .styles_borderHolder .styles_rightBorder:before {
    width: 15px;
    height: 15px;
    left: -1px;
    background: url("../images/arena/decorations/corner-decor.png");
}
.styles_borderHolder .styles_leftBorder:before, .styles_borderHolder .styles_rightBorder:before {
    top: -3px;
    border-top: 1px solid #046c10;
}
 .styles_borderHolder .styles_leftBorder:after, .styles_borderHolder .styles_rightBorder:after {
    bottom: -3px;
    border-bottom: 1px solid #046c10;
}
.styles_borderHolder .styles_rightBorder:after, .styles_borderHolder .styles_rightBorder:before {
    left: auto;
    right: -3px;
    border-right: 1px solid #046c10;
    border-left: none;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

lobby-launcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(15,15,19,.7);
    margin-top: 4px;
    border-radius: 4px;
    margin-bottom: 24px;
}
lobby-launcher .styles_play {
    width: 100%;
    padding: 24px;
}
lobby-launcher play-button {
    width: 100%;
    margin-bottom: 24px;
    margin-top: 25px;
}
play-button, play-button:not([disabled]) {
    cursor: pointer;
}
play-button:hover:not([disabled]) {
    background-color: #10d126;
}
play-button {
    display: block;
    border-radius: 4px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    background-color: #0ca11e;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    padding: 6px 26px;
    border: 0;
    outline: 0;
    padding: 15px 55px;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 0 30px 0 rgba(17,246,44,.5);
}
.styles_stream, .styles_userStats {
    border: 1px solid #2c2d39;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 3px #000;
    margin-bottom: 24px;
}
games-card {
    display: block;
    border: 1px solid;
    border-image-source: linear-gradient(90deg,transparent 0,#FF9800 50%,transparent);
    border-image-slice: 1;
}
games-card>header {
    position: relative;
    background: #0f0e14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg,transparent 0,#d7c282 50%,transparent);
    border-image-slice: 1;
}
games-card>header:after {
    content: "";
    background: url("../images/arena/decorations/bottom-arrow.png");
    position: absolute;
    height: 15px;
    width: 26px;
    bottom: -9px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
games-card .styles_gameSelector {
    padding: 16px 0 18px;
    margin: 0 auto;
}
games-card .styles_gameSelector .styles_selection:not(:last-of-type) {
    margin-right: 24px;
}
games-card .styles_gameSelector .styles_selection {
    cursor: pointer;
    filter: url(data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><fÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦52 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3;
    height: 26px;
}
game-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Open Sans,Roboto,sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 24px 38px;
}
game-stats .styles_rankImage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width: 280px;
}
game-stats .styles_tooltip {
    padding: 0!important;
    border: 1px solid #dac383;
    overflow: hidden;
}
decoration {
    display: block;
    position: relative;
}
decoration .styles_leftCorner_3O0k {
    position: absolute;
    bottom: -1px;
    left: -1px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
decoration .styles_rightCorner_1_Y5 {
    position: absolute;
    bottom: -1px;
    right: -1px;
}
decoration .styles_bottom_3q6q {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
rank-explanation {
    display: block;
    text-align: center;
    background: #0f0f13;
    padding: 12px;
}
rank-explanation header {
    margin-bottom: 36px;
}
rank-explanation header h1 {
    color: #d2c387;
    text-transform: uppercase;
    font-size: 14px;
}
rank-explanation .styles_explanation {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
}
rank-explanation .styles_ranks {
    margin: 0 auto;
    max-width: 420px;
}
rank-explanation .styles_rank:nth-child(3n+1) {
    padding-left: 0;
}
rank-explanation .styles_rank {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
}
rank-explanation .styles_rank .styles_name {
    color: #bbb;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
}
rank-explanation .styles_rank .styles_image {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width: 116px;
}
game-stats .styles_name {
    text-transform: uppercase;
    color: #ebebeb;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}
game-stats .styles_rankName {
    text-transform: uppercase;
    color: #bbb;
    font-size: 10px;
    padding-bottom: 24px;
    letter-spacing: 1px;
}
takedown-progress-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 48px;
}
game-stats .styles_stats {
    min-width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}
game-stats .styles_stats .styles_stat {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
game-stats .styles_stats .styles_stat .styles_title {
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #05a42b;
}
game-stats .styles_stats .styles_stat .styles_value {
    letter-spacing: 2px;
    font-size: 20px;
    color: #e0e0e0;
}
player-advancement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 26px 33px;
    border-image-source: linear-gradient(90deg,#07cf1f 0,transparent 25%,transparent 75%,#07cf1f);
    border-image-slice: 1;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #07cf1f;
    border-right: 1px solid #07cf1f;
    background: #101115;
}
player-advancement .styles_img {
    width: 61px;
    height: 59px;
    margin-right: 20px;
}
player-advancement .styles_details {
    font-family: Open Sans,Roboto,sans-serif;
    font-size: 12px;
    color: #dddcde;
}
player-advancement .styles_bar, player-advancement .styles_barActive {
    position: relative;
    height: 6px;
    margin-top: 6px;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(60%,#034a0b),color-stop(40%,transparent));
    background-image: -webkit-linear-gradient(left,#034a0b 60%,transparent 0);
    background-image: linear-gradient(90deg,#034a0b 60%,transparent 0);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 26px 4px;
}
player-advancement .styles_barActive {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(60%,#11f62c),color-stop(40%,transparent));
    background-image: -webkit-linear-gradient(left,#11f62c 60%,transparent 0);
    background-image: linear-gradient(90deg,#11f62c 60%,transparent 0);
    width: 0;
    -webkit-transition: width 1s;
    transition: width 1s;
}
player-advancement .styles_info {
    display: block;
    font-family: Open Sans,Roboto,sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #d7c282;
    margin-top: 13px;
}
coin-balance {
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #141519;
}
coin-balance {
    font-family: Open Sans,Roboto,sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding: 8px 24px 8px 84px;
    position: relative;
    background: url("../images/arena/zen-balance-bg.jpg") no-repeat 100%,-webkit-gradient(linear,left top,right bottom,color-stop(70%,#18181e),color-stop(70%,#28231d));
    background: url("../images/arena/zen-balance-bg.jpg") no-repeat 100%,-webkit-linear-gradient(top left,#18181e 70%,#28231d);
    background: url("../images/arena/zen-balance-bg.jpg") no-repeat 100%,linear-gradient(to bottom right,#18181e 70%,#28231d);
}
coin-balance .styles_coinImage {
    position: absolute;
    height: 98px;
    left: -35px;
}
coin-balance .styles_balance {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    font-family: Roboto,sans-serif;
}
coin-balance .styles_balance .styles_coins {
    color: #ef9932;
    font-size: 20px;
    font-weight: 400;
}
coin-balance .styles_balance .styles_caption {
    text-transform: uppercase;
    color: #4f4f4f;
    font-size: 12px;
    font-weight: 500;
}
coin-balance .styles_openSocialInvite:not([disabled]) {
    cursor: pointer;
}
coin-balance .styles_openSocialInvite {
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    background-color: #0ca11e;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    color: #fff;
    padding: 6px 26px;
    border: 0;
    outline: 0;
    padding: 5px 9px;
    background: #bf741e;
    font-weight: 300;
}
coin-balance:after {
    content: "";
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(65%,transparent),to(#e0990e));
    background-image: -webkit-linear-gradient(left,transparent 65%,#e0990e);
    background-image: linear-gradient(90deg,transparent 65%,#e0990e);
    position: absolute;
    bottom: 0;
    right: 0;
}
match-history {
    display: block;
    background: #141519;
    padding: 42px 0 12px;
}
match-history header {
    color: #4f4f4f;
    font-family: Open Sans,Roboto,sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
    padding: 0 12px;
}
match-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    padding: 0 12px;
    color: #4f4f4f;
}
match-result>div {
    padding: 6px;
}
match-result .styles_resultIcon.styles_lose {
    color: #d50000;
}
match-result .styles_resultIcon.styles_win {
    color: #07d50a;
}
match-result .styles_opponents {
    position: relative;
    height: 30px;
    padding: 0;
}
match-result .styles_opponent {
    position: absolute;
    height: 100%;
}
match-result .styles_opponent .styles_avatar {
    height: inherit;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #000;
}
match-result .styles_nameAndTime {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    padding: 4px;
}
match-result .styles_name {
    font-size: 11px;
    color: #8c8c8c;
    padding-bottom: 4px;
}
match-result .styles_time {
    font-size: 9px;
    font-weight: 500;
    color: #4f4f4f;
}
match-result .styles_gameIcon {
    color: #4f4f4f;
    padding-right: 0;
}
match-result .styles_score {
    color: #656565;
    background: #1d1e24;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 12px;
    padding: 2px 8px;
}
intro-guide {
    display: block;
    position: relative;
    margin-bottom: 24px;
    cursor: pointer;
}
intro-guide:after, intro-guide:before {
    content: "";
    position: absolute;
    top: -1px;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear,left top,right top,color-stop(5%,transparent),color-stop(50%,#141519),color-stop(95%,transparent));
    background: -webkit-linear-gradient(left,transparent 5%,#d7c282 50%,transparent 95%);
    background: linear-gradient(90deg,transparent 5%,#d7c282 50%,transparent 95%);
}
intro-guide:after {
    top: auto;
    bottom: -1px;
}
intro-guide button.slick-prev {
    display: none!important;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
intro-guide .styles_guide {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    border-radius: 6px;
    height: 258px;
    width: 702px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
intro-guide .styles_guide main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 385px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
intro-guide .styles_guide .styles_title {
    font-family: Open Sans,Roboto,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .2px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 14px;
}
intro-guide .styles_guide .styles_subtitle {
    font-family: Open Sans,Roboto,sans-serif;
    font-size: 14px;
    letter-spacing: .1px;
    font-weight: 300;
    color: #bbb;
}
intro-guide button.slick-next:active:not([disabled]), intro-guide button.slick-next:focus:active:not([disabled]) {
    background-color: #097215;
}
intro-guide button.slick-next:focus:hover:not([disabled]), intro-guide button.slick-next:hover:not([disabled]) {
    background-color: #10d126;
}
intro-guide button.slick-next:focus:not([disabled]), intro-guide button.slick-next:not([disabled]) {
    cursor: pointer;
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0;
}
intro-guide button.slick-next, intro-guide button.slick-next:focus {
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    background-color: #0ca11e;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    padding: 6px 26px;
    border: 0;
    outline: 0;
    width: auto;
    height: 40px;
    padding: 10px 20px;
    right: 14px;
    color: #fff!important;
    text-transform: uppercase;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.slick-next {
    right: -25px;
}
.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
}
.slick-dots, .slick-next, .slick-prev {
    position: absolute;
    display: block;
    padding: 0;
}
/* POSTS */
post-feed {
    display: block;
    font-family: Open Sans,Roboto,sans-serif;
    min-height: 400px;
    margin: 0 auto;
    min-width: 550px;
    max-width: 700px;
}
post-feed compose-post {
    margin-bottom: 20px;
    display: block;
}
post-feed compose-post, post-feed post {
    border-radius: 4px;
    background-color: #141519;
}
compose-post {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: #141519;
    border-radius: 4px;
}
compose-post .styles_textareaContainer {
    position: relative;
}
compose-post .styles_textareaContainer:before {
    content: " ";
    box-shadow: inset 1px 1px 5px -5px #11f62c;
    position: absolute;
    height: 20px;
    width: 20px;
    top: -1px;
    left: -1px;
    border: 1px solid #11f62c;
    border-bottom: 0;
    border-right: 0;
    z-index: 1;
}
compose-post textarea {
    position: relative;
    width: 100%;
    resize: none;
    background: #272a33;
    font-weight: 300;
    font-size: 14px;
    color: #bbb;
    border: 0;
    padding: 10px;
    outline-offset: 0;
    margin-bottom: 8px;
}
compose-post .styles_attachments {
    margin-bottom: 12px;
}
compose-post .styles_compose-post-actions .styles_addPhoto, compose-post .styles_compose-post-actions .styles_addVideo, compose-post .styles_compose-post-actions .styles_tagPerson {
    background: inherit;
    color: #bbb;
    margin-right: 6px;
    border: none;
}
compose-post .styles_attachments .styles_videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
compose-post .styles_publisher {
    font-size: 12px;
    color: #555;
    margin-bottom: 20px;
}
compose-post .styles_publisher .styles_name {
    font-weight: 400;
    color: #aaa;
}
compose-post .styles_compose-post-footer {
    position: relative;
}
compose-post .styles_compose-post-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
compose-post .styles_publishPost:not([disabled]) {
    cursor: pointer;
}
compose-post .styles_publishPost {
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: #0ca11e;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding: 6px 26px;
    border: 0;
    outline: 0;
    margin-left: auto;
    text-transform: uppercase;
    right: 0;
    display: inline-block;
    text-align: center;
    color: #fff;
}
post-feed post {
    padding: 20px;
}
post-feed compose-post, post-feed post {
    border-radius: 4px;
    background-color: #141519;
}
post {
    display: block;
    border-radius: 4px;
    background-color: #141519;
    position: relative;
    font-family: Calibri,sans-serif;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px #000;
    border: 1px solid #2c2d39;
}
post .styles_post-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left:10px;
    padding-top:10px;
    padding-bottom: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
post .styles_post-info .styles_avatar {
    max-height: 52px;
    border-radius: 4px;
    margin-right: 12px;
}
post .styles_post-info .styles_next-to-avatar .styles_author {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: #f05050;
    font-size: 14px;
}
post .styles_post-info .styles_next-to-avatar .styles_posted-at {
    font-size: 13px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: #4f4f4f;
}
post .styles_post-info .styles_next-to-avatar {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
post .styles_postButton {
    background: inherit;
    padding: 0;
    height: 30px;
    border: none;
    color: #07d50a;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
post .styles_post-body {
    color: #bbb;
    font-size: 14px;
    font-family: Open Sans,Roboto,sans-serif;
    font-weight: 300;
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
}
post .styles_actions-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
}
.footer:before {
    content: "";
    position: absolute;
    top: 1px;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear,left top,right top,color-stop(5%,transparent),color-stop(50%,#11f62c),color-stop(95%,transparent));
    background: -webkit-linear-gradient(left,transparent 5%,#11f62c 50%,transparent 95%);
    background: linear-gradient(90deg,transparent 5%,#11f62c 50%,transparent 95%);
}
:root::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
:root::-webkit-scrollbar-thumb {
    background: #07cf1f;
    border-radius: 2px;
}
/* Register */
.register-bg {
    background: url(../images/register-bg.jpg) #1b1b1f no-repeat !important;
    background-size: cover;
}
.styles_logo_3tuR {
    margin-bottom: 70px;
    height: 145px;
}
.styles_slogan_2AKK {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 70px;
}
.styles_motivatorsWrapper_3nqB {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.styles_motivatorWrapper_14KC:not(:last-of-type) {
    padding-right: 40px;
}
.styles_title_1JnS {
    text-transform: uppercase;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.styles_container_3m9D .styles_wrapper_2YtC .styles_readingWrapper_3-Di .styles_motivatorsWrapper_3nqB .styles_motivatorWrapper_14KC .styles_text_1Lld {
    color: #bbb;
    font-weight: 300;
    font-size: 12px;
}
.styles_formWrapper_slgs {
    position: relative;
    z-index: 1;
    margin-top: 15px;
}
.styles_form_dlSY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    background: #181818;
    padding: 92px 48px;
    color: #727272;
    max-width: 485px;
}
.styles_form_dlSY:before {
    content: " ";
    position: absolute;
    background: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(50%,#07cf1f),to(transparent));
    background: -webkit-linear-gradient(left,transparent,#07cf1f 50%,transparent);
    background: linear-gradient(90deg,transparent 0,#07cf1f 50%,transparent);
    z-index: -100;
    height: 1px;
    top: -1px;
    max-width: 450px;
    right: 2em;
    left: 2em;
}
.styles_title_1JnS {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 72px;
}
.styles_textField_1fEl {
    position: relative;
    margin-bottom: 12px;
}
.styles_textField_1fEl input {
    width: 100%;
    font-weight: 400;
    background: #353535;
    border: 0;
    color: #dddcde;
    padding: 16px 14px 12px;
    border-left: 2px solid #07cf1f;
}
.styles_termsAndRegisterWrapper_ZAHA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
}
.styles_terms_1r9G {
    padding-right: 1em;
    font-weight: 400;
    font-size: 12px;
    line-height: 2em;
}
.styles_registerButton_2LV4[disabled] {
    background: #313e31;
    color: #2a362a;
}
.styles_registerButton_2LV4 {
    font-family: Roboto,sans-serif;
    font-size: 20px;
    color: #fff;
    background: #07cf1f;
    border-color: #000;
    border-radius: 4px;
    font-weight: 700;
    padding: 20px 45px;
}
.styles_loginLink_qE66 {
    text-align: center;
    font-size: 11px;
    padding: 12px 5px 0;
}
system-message {
    display: block;
    position: fixed;
    top: 12px;
    font-size: 17px;
    border-radius: 4px;
    min-width: 30%;
    text-align:  center;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    border: 1px solid #430f14;
    z-index: 9999;
    background: #97212d;
    color: #fff;
    padding: 12px 24px;
}
.error-msg {
    background: #97212d !important;;
    color: #fff !important;;
}
.success-msg {
    background: #11b314 !important;
    color: #000000 !important;;
}
.notification-msg {
    background: #406eec !important;
    color: #000000 !important;;
}
.styles_error_36S0 {
    color: red;
    text-align: center;
}
